@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Times New Roman", Times, serif;
}

.container {
  padding: 1.5rem 8rem;
}

.btn {
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  background-color: #116ab3;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #c52132;
  color: white;
}

/* Navbar */

header {
  position: fixed;
  background-color: #efefefb7;
  width: 100%;
  backdrop-filter: blur(6px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  max-width: 180px;
  height: auto;
}

.nav-links {
  width: 60%;
}

.nav-links ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-link a {
  text-decoration: none;
  color: grey;
}

.nav-link.active-link a {
  color: black;
}

.nav-link a:hover {
  color: black;
}

.nav-mobile {
  cursor: pointer;
  display: none;
  position: absolute;
}

/* Landing Page */

main {
  padding-top: 13vh;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem 2rem;
  padding-bottom: 3rem;
}

.hero {
  width: 50%;
  text-align: center;
}

.about-desc {
  width: 50%;
  text-align: justify;
}

.hero-img {
  width: 80%;
  border-radius: 50%;
}

.about-desc h3 {
  margin-bottom: 1rem;
}

/* Featured Publications */

.section-heading {
  text-align: center;
  padding: 2rem;
  text-decoration: underline;
}

.featured-publications {
  text-align: center;
  background-color: #efefef;
}

.publication-covers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem 1rem;
  padding-bottom: 2rem;
}

.publication-container,
.publication-desc {
  text-align: center;
}

.publication-desc {
  height: 50px;
  border-bottom: 1px solid black;
}

.publication-image img {
  width: 300px;
  height: 400px;
  padding-bottom: 1rem;
  object-fit: cover;
}

/* Affiliations */

.affiliations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100px;
  height: auto;
  object-fit: cover;
}

/* Footer */

footer {
  background-color: #efefef;
}

.footer-content {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem 2rem;
}

.footer-logo,
.quick-links,
.socials {
  text-align: center;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quick-links ul {
  list-style: none;
  padding-top: 1rem;
}
.quick-links ul li {
  margin-bottom: 1rem;
}

.footer-icon {
  color: black;
  text-decoration: none;
}

.footer-icon i {
  font-size: 40px;
  padding: 0.5rem;
}

.fa-instagram:hover {
  background-image: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-linkedin-square:hover {
  color: #0e76a8;
}

.fa-quora:hover {
  color: #aa2200;
}

.copyright {
  padding: 1rem 0;
  text-align: center;
  font-size: 13px;
}

.copyright a {
  color: black;
  text-decoration: none;
}

/* Publications page */
.publication-heading {
  color: #efefef;
  text-shadow: 2px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 30px;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../resources/pubcover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.publication {
  border-bottom: 1px solid black;
  padding-top: 1rem;
  text-align: justify;
}

.publications .details {
  text-align: center;
  font-size: 13px;
  font-style: italic;
  text-decoration: underline;
  color: #747474;
}

.publication .title a {
  font-weight: 600;
  padding-bottom: 1rem;
  color: black;
  text-decoration: none;
}

.publication .journal,
.publication .authors,
.publication .buttons {
  color: #747474;
  padding-bottom: 1rem;
  font-size: 13px;
}

.publication .buttons {
  text-align: right;
}

.publication .buttons a {
  color: white;
  text-decoration: none;
}

/* Alumni */
.alumni {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.alumni table {
  border-collapse: collapse;
  width: 80%;
}

.alumni table td,
.alumni table th {
  border: 1px solid #efefef;
  text-align: left;
  padding: 8px;
}

.alumni table th {
  background-color: #116ab3;
  color: white;
}

.alumni table tr:nth-child(even) {
  background-color: #efefef;
}

/* Awards */

.awards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.award-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  height: 150px;
}

.award-img img {
  max-width: 150px;
  height: auto;
  padding: 1rem;
}

.award-desc {
  padding: 1rem;
}

.award-title {
  font-size: 15px;
}

.award-date {
  font-size: 13px;
  color: #747474;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0.75rem 4rem;
  }
  .nav-mobile {
    display: block;
    top: 50%;
    right: 15%;
    transform: translate(-5%, -50%);
  }
  .navbar {
    flex-direction: column;
  }
  .nav-links ul {
    display: none;
    flex-direction: column;
  }
  .nav-link {
    margin: 8px;
  }
  .nav-links.active ul {
    display: flex;
  }
  main {
    padding-top: 10vh;
  }
  .about {
    flex-direction: column;
  }
  .hero,
  .about-desc {
    width: 100%;
  }
  .footer-logo,
  .quick-links,
  .socials {
    border-bottom: 1px dashed black;
  }
}

@media screen and (max-width: 414px) {
  .container {
    padding: 0.5rem 1.5rem;
  }
  main {
    padding-top: 8vh;
  }
}
